# Dataset
chest_xray_balanced/
clean_dataset_index.csv/
pneumonia_app/cnn_pneumonia_model.h5

# Models
*.pth
*.pt
*.ckpt
*.h5

# Virtual environments
venv/
.env
# Large ML files
chest_xray_balanced/
pneumonia_app/cnn_pneumonia_model.h5
